<div id="children"></div>

<script>
    var rootParentId = 1;
    $(document).ready(function () {
        var dataSource = new kendo.data.TreeListDataSource({
            transport: {
                read: {
                    url: "/PartChildren",
                    dataType: "json"
                },
                parameterMap: function (data, type) {
                    if (type !== "read" || data.id) {
                        return data;
                    }

                    // if type is "read" and data.id is undefined then want to pass { "id": 1 } where 1 is the top level parentId requested by the user
                    return $.extend({ "id": rootParentId, "returnNullParentId": true }, data);
                }
            },
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        parentId: { field: "ParentId", nullable: true },
                        hasChildren: { field: "HasChildren" }
                    }
                }
            }
        });

        $("#children").kendoTreeList({
            dataSource: dataSource,
            columns: [
                { field: "PartNo", expandable: true, title: "Part#", width: 250 },
                { field: "Description" }
            ]
        });
    });
</script>